
body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: .4s;
}

.label {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
}

.input {
    visibility: hidden;
}

.circle {
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 3px;
    cursor: pointer;
    animation: toggleOff .4s linear forwards;
}

.input:checked + .label {
    background-color: salmon;
}

.input:checked + .label .circle {
    animation: toggleOn .4s linear forwards;
}
@keyframes toggleOn {

    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(40px);
    }

}

@keyframes toggleOff {

    0%{
        transform: translate(40px);
    }
    100%{
        transform: translate(0px);
    }

}